extends layout

block content
	h1.homeTitle Translater 

	
	div.transContainer
		div
			p What do you want to translate?
			div.transInput 
				form.transForm 
					input(type="text", name="source" placeholder="translate from")
					input(type="text", name="target", placeholder="translate to")
					input.textField(type="text", name="q",placeholder="words to be translated")
					input(type="submit")

	.translation-container

		//- div.transOutput
		//- 	form.transForm(action="/get-word", method='POST')
		//- 		input.textField(type="text")
		//- div.clear		
	
